<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-yandex-ads"
  version="2.0.0">

  <name>Yandex Ads SDK</name>
  <description>Cordova plugin to add advertisements (via Yandex Mobile SDK).</description>
  <engines>
    <engine name="cordova" version=">=5.0.0" />
    <engine name="cordova-android" version=">=7.0.0" />
  </engines>
  <repo>https://github.com/danillo19/cordova-yandex-sdk.git</repo>
  <issue>https://github.com/danillo19/cordova-yandex-sdk/issues</issue>

  <license>MIT</license>
  <keywords>cordova,plugin,ads,yandex,google,advertisements,app,android,ecosystem:cordova,monetization,cordova-android,cordova-ios,promise,promises,android,ios,ionic,phonegap</keywords>
  
  <engines>
      <engine name="cordova" version=">=7.0" />
      <engine name="cordova-android" version=">=6.0.0" />
  </engines>
  
  <js-module src="www/ads.js" name="AdMobPlugin">
    <merges target="yaAdMob" />
  </js-module>

  <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="AdMobPlugin">
          <param name="android-package" value="gp.danillo.cordova.ads.AdMobPlugin"/>
        </feature>
      </config-file>

      <source-file src="src/android/AdMobPlugin.java" target-dir="app/src/main/java/gp/danillo/cordova/ads" />
      <source-file src="src/android/NextAsync.java" target-dir="app/src/main/java/gp/danillo/cordova/ads" />
      
      <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.INTERNET"/>
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      </config-file>
      
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <activity
          android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
          android:name="com.google.android.gms.ads.AdActivity"
          android:excludeFromRecents="true"
          android:noHistory="true" />

           <meta-data
          android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
          android:value="true"/>
      </config-file>
      
      <framework src="com.google.android.gms:play-services-ads:22.3.0" />

      <framework src="com.yandex.android:mobileads:6.3.0" />
      
      <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>

  </platform>
  
  <platform name="fire-os">
      <config-file target="config.xml" parent="/*">
          <feature name="AdMobPlugin">
              <param name="ios-package" value="AdMobPlugin" />
          </feature>
      </config-file>
  </platform>
  
  <!-- not supported below -->
  <platform name="browser">
      <config-file target="config.xml" parent="/*">
          <feature name="AdMobPlugin">
              <param name="ios-package" value="AdMobPlugin" />
          </feature>
      </config-file>
  </platform>
  
  <!-- not supported below -->
  <platform name="windows"> 
      <config-file target="config.xml" parent="/*">
          <feature name="AdMobPlugin">
              <param name="ios-package" value="AdMobPlugin" />
          </feature>
      </config-file> 
  </platform>

</plugin>